<!DOCTYPE html>
<html>
<head>
    <title>Petition Detail</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/petition_app/petition_detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="testbox">

        {% include "./header-section.html" %}

        <!-- Card deck -->
        <form method="post" class="card-deck row">
            {% csrf_token %}
            <div class="inside">
                <!-- Card -->
                <div class="card">

                    <!--Card image-->
                    <div style="padding:5px;" class="view overlay center">
                        <img src="https://www.karzar.net/uploads/thumbs//campaigns/2022/02/181x181_1645227421cd90pwu9zuxyowrurijjsumkgx8dro7q2sr9eah8.jpg" class="avatar" alt="درخواست ثبت بناهای ارزشمند در معرض تخریب بافت تاریخی شیراز">

                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 style="direction: rtl;text-align:right;" class="card-title"> <strong>{{ petition.name }}</strong></h4>
                        <p style="direction: rtl;text-align:right;" class="card-text">
                            {{ petition.content }}
                        </p>
                        <div class="metadata" style="border:0">
                            <div class="row">
                                <div class="col-lg-6 fa">
                                    <b>•</b> شروع کارزار: {{ petition.start_date }}
                                </div>
                                <div class="col-lg-6 fa">
                                    <b>•</b> پایان کارزار: {{ petition.end_date }}
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> از طرف: دغدغه‌مندان حفاظت از بافت‌های تاریخی ایران
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> هشتگ رسمی: #نجات_بافت_تاریخی_شیراز
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> نویسنده: محمدمهدی کلانتری
                                </div>
                                <div class="col-lg-6">
                                    <b>•</b> لینک کارزار:
                                    <input type="text" id="sharelink" readonly="" value="https://www.karzar.net/30629" style="direction: ltr; height: 25px; width: 220px;">
                                </div>
                            </div>

                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="btn-block">
                                <button onclick="myFunction()" type="submit" href="{% url 'index' %}">امضا</button>
                            </div>
                        </form>
                        <script>
                            function myFunction() {
                                if (confirm("Are you sure you want to sign the petition?")) {
                                    href = "{% url 'petition_app:petitions-sign' petition.id %}";
                                } else {
                                    href = "{% url 'petition_app:petitions-detail' petition.id %}";
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <!-- Card -->
            <!--users who signed the petition-->
            <div class="topic">
                <button style="float: left; margin-right: 50px; font-family: IranSans;margin:20px;" onclick="window.location.href='{% url 'petition_app:user-login' %}';">عضو شوید</button>
                <h2 style=" font-family: IranSans;direction:rtl;text-align:right;margin:20px;">افرادی که از این کارزار حمایت کرده‌اند:</h2>
            </div>
            <div class="users">
                {% for user in petition.user_signed %}
                <div class="user-preview">
                    <div class="user-img">
                        <img class="user-img" src="{{ user.profile_photo }}">
                    </div>
                    <div class="user-name">
                        {{ user.username }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
        <!-- Card deck -->
        
        {% include "./footer-section.html" %}

    </div>
</body>
</html>